In [2]:
import os
import pandas as pd

In [23]:
XLS_DIR = './app/data/xls'
CSV_DIR = './app/data/csv'

In [ ]:
# file = pd.read_excel("UN_MigrantStockByOriginAndDestination_2017.xlsx");

migrants_by_od_t1 = pd.read_excel(XLS_DIR + "/migrants_by_origin_and_destination.xls", sheet_name = "Table 1", header=15)
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

In [25]:
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

In [2]:
migrants_by_od_t1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Other South,Other North,Afghanistan,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,1990,1990001,WORLD,NaN,900.0,NaN,153011473,6548526,2366800,6823350,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
1,1990,1990002,UN development groups,NaN,NaN,NaN,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,1990,1990003,More developed regions,b,901.0,NaN,82767216,3385103,1077179,119386,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
3,1990,1990004,Less developed regions,c,902.0,NaN,70244257,3163423,1289621,6703964,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408
4,1990,1990005,Least developed countries,d,941.0,NaN,11060221,482753,239756,0,...,286,2027,9,2510,71579,0,0,357,26254,75122

In [28]:
df.columns

Index(['Year', 'Destination', 'Total', 'Other South', 'Other North',
       'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'],
      dtype='object', length=237)

In [11]:
def drop_useless_columns(df, names):
    return df.drop(names, axis=1)

def convert_xls_to_csv(df, drop_names, rename_names, csv_file_name):
    df = drop_useless_columns(df, drop_names)
    df = df.rename(columns={rename_names[0]: "Year", rename_names[2]: "Destination"})
    for i in range(6, len(rename_names)):
        if ".1" in rename_names[i]:
            col_name = rename_names[i].replace(".1", "_(m)").strip()
            df = df.rename(columns={rename_names[i]:col_name})
        elif ".2" in rename_names[i]:
            col_name = rename_names[i].replace(".2", "_(f)").strip()
            df = df.rename(columns={rename_names[i]:col_name})
        else:
            col_name = (rename_names[i] + "_(mf)").strip()
            df = df.rename(columns={rename_names[i]:col_name})

    df.to_csv(CSV_DIR + '/' + csv_file_name, index=False)

In [34]:
migrants_by_od_t1 = migrants_by_od_t1.rename(columns={"Unnamed: 0": "Year", "Unnamed: 2": "Destination"})
# migrants_by_od_t1 = drop_useless_columns(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"])
migrants_by_od_t1.head()

migrants_by_od_t1.to_csv("app/data/migrants_by_origin_and_destination.csv", index=False)

In [36]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_origin_and_destination.xls", sheet_name = "Table 2", header=15)
migrants_by_od_t1 = migrants_by_od_t1.rename(columns={"Unnamed: 0": "Year", "Unnamed: 2": "Destination"})
migrants_by_od_t1 = drop_useless_columns(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"])
migrants_by_od_t1.head()

migrants_by_od_t1.to_csv("app/data/migrants_by_origin_and_destination_male.csv", index=False)

In [37]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_origin_and_destination.xls", sheet_name = "Table 3", header=15)
migrants_by_od_t1 = migrants_by_od_t1.rename(columns={"Unnamed: 0": "Year", "Unnamed: 2": "Destination"})
migrants_by_od_t1 = drop_useless_columns(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"])
migrants_by_od_t1.head()

migrants_by_od_t1.to_csv("app/data/migrants_by_origin_and_destination_female.csv", index=False)

In [12]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_age.xls", sheet_name = "Table 1", header=15)
convert_xls_to_csv(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], list(migrants_by_od_t1.columns), "migrants_by_age_and_sex_table1.csv")

In [13]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_age.xls", sheet_name = "Table 2", header=15)
convert_xls_to_csv(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], list(migrants_by_od_t1.columns), "migrants_by_age_and_sex_table2.csv")

In [14]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_age.xls", sheet_name = "Table 3", header=15)
convert_xls_to_csv(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], list(migrants_by_od_t1.columns), "migrants_by_age_and_sex_table3.csv")

In [15]:
migrants_by_od_t1 = pd.read_excel("app/data/migrants_by_age.xls", sheet_name = "Table 4", header=15)
convert_xls_to_csv(migrants_by_od_t1, ["Unnamed: 1", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], list(migrants_by_od_t1.columns), "migrants_by_age_and_sex_table4.csv")

In [ ]:
countries_names = df.columns.values[9:]

In [ ]:
countries_migration = df.loc[df["Unnamed: 2"].isin(countries_names)]

In [ ]:
countries_migration.head()

    Unnamed: 0  Unnamed: 1 Unnamed: 2  ... Yemen  Zambia Zimbabwe
13      1990.0   1990014.0    Burundi  ...    ..      ..       ..
14      1990.0   1990015.0    Comoros  ...    ..      ..       ..
15      1990.0   1990016.0   Djibouti  ...   289      ..       ..
16      1990.0   1990017.0    Eritrea  ...    ..      91       82
17      1990.0   1990018.0   Ethiopia  ...    68      ..       ..

[5 rows x 241 columns]

In [ ]:
# print("" + countries_migration["Burundi"].sum())
count = countries_migration[countries_migration['Ethiopia'] != ".."]['Ethiopia'].sum()
print(count)

5650703

In [ ]:
countries_1990 = countries_migration.loc[countries_migration["Unnamed: 0"] == 1990.0]

In [ ]:
countries_df = []
years = [1990.0, 1995.0, 2000.0, 2005.0, 2010.0, 2015.0, 2017.0]

for year in years:
  df_temp = countries_migration.loc[countries_migration["Unnamed: 0"] == year]
  df_temp = df_temp.sort_values("Unnamed: 2")
  df_temp = df_temp[countries_names]
  countries_df.append(df_temp)

In [ ]:
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

for i, country in enumerate(countries_df):
  # print(count.isin(['..']).sum(axis=0))
  # print(country[country[countries_names] == ".."].count())

  print(years[i], country.size - country.stack().value_counts()[".."])
  # print(count[~count.isin([".."]).sum(axis=0)])
  # print(count.apply(pd.value_counts))

1990.0 10317
1995.0 10568
2000.0 10559
2005.0 10793
2010.0 11095
2015.0 11172
2017.0 11137

In [ ]:
df[".."].count()

KeyError: ignored

In [ ]:
countries_1990 = countries_1990.sort_values("Unnamed: 2")
countries_1990.head()

     Unnamed: 0  Unnamed: 1      Unnamed: 2  ... Yemen  Zambia Zimbabwe
91       1990.0   1990092.0     Afghanistan  ...    ..      ..       ..
158      1990.0   1990159.0         Albania  ...    ..      ..       ..
44       1990.0   1990045.0         Algeria  ...  2593      ..       ..
261      1990.0   1990262.0  American Samoa  ...    ..      ..       ..
159      1990.0   1990160.0         Andorra  ...    ..      ..       ..

[5 rows x 241 columns]

In [ ]:
countries_1995 = countries_migration.loc[countries_migration["Unnamed: 0"] == 1995.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2000 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2000.0]
countries_2000 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2005 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2005.0]
countries_2 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2010 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2010.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2015 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2015.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [ ]:
countries_2017 = countries_migration.loc[countries_migration["Unnamed: 0"] == 2017.0]
countries_1995 = countries_1995.sort_values("Unnamed: 2")

In [6]:
def drop_useless_columns(df, names):
    return df.drop(names, axis=1)

In [34]:
df_est_refugee_stock = pd.read_excel(XLS_DIR
            + '/total_migrant_stock.xls',
        sheet_name = 'Table 6', header=15)

df_countries_clas = pd.read_excel(XLS_DIR
            + '/total_migrant_stock.xls',
        sheet_name = 'ANNEX', header=15)

In [26]:
est_refugee_stock_useless_cols = [
    'Unnamed: 0',
    'Unnamed: 2',
    'Unnamed: 3',
    'Unnamed: 4',
]

est_refugee_stock_cols = list(df_est_refugee_stock.columns)

df_est_refugee_stock = df_est_refugee_stock.rename(columns={
        est_refugee_stock_cols[1]: 'Destination'}
        )

df_est_refugee_stock = drop_useless_columns(
        df_est_refugee_stock,
        est_refugee_stock_useless_cols
        )

for i, col in enumerate(est_refugee_stock_cols):
    if i < 5:
        continue
    
    _col = str(col)

    if '.1' in _col:  # Refugees and asylum seekers as a % of the international migrant stock
        updt_col = _col.replace('.1', '_pct_(mf)').strip()
    elif '-' in _col: # Annual rate of change of the refugee stock (inc. asylum seekers)
        updt_col = _col.strip() + '_annual_rc_(mf)'
    else:            # Refugees and asylum seekers as a % of the international migrant stock
        updt_col = _col.strip() + '_est_(mf)'

    df_est_refugee_stock = df_est_refugee_stock.rename(
            columns={col:updt_col}
            )

df_est_refugee_stock.to_csv(CSV_DIR + '/est_refugee_stock.csv', index=False)

In [35]:
countries_clas_useless_cols = [
    'Index',
    'Notes',
    'Code',
    'Type of data',
]

countries_clas_cols = list(df_countries_clas.columns)

df_countries_clas = df_countries_clas.rename(columns={
        countries_clas_cols[1]: 'Destination'}
        )

df_countries_clas = drop_useless_columns(
        df_countries_clas,
        countries_clas_useless_cols
        )

df_countries_clas = df_countries_clas.replace('Y', 1, regex=True)
df_countries_clas.to_csv(CSV_DIR + '/countries_class_by_region.csv', index=False)